pip install streamlit==1.40.0
pip install sentence-transformers==3.2.1
pip install faiss-cpu==1.9.0
pip install transformers==4.32.1
pip install pdfplumber==0.11.4
pip install torch==2.1.0
pip install numpy==1.24.2
pip install scikit-learn==1.5.2
pip install scipy==1.14.1
pip install joblib==1.4.2
pip install pdfminer-six==20231228
pip install pycparser==2.22
pip install pypdfium2==4.30.0
pip install threadpoolctl==3.5.0
